@charset "UTF-8";

@import url(style_Reset.css);


body {
	background-color: #999;
}

div#wrap {
	width: 400px;
	padding: 10px;
	border: 4px solid #ccc;
	border-radius: 4px;
	margin:100px auto;
}

h1{
	text-align: center;
	padding: 20px auto;
}
hr{
	margin: 5px 0;
}

label{
	display: block;
	text-align: center;
}

input{
	width: 350px;
	font-size: 18px;
	padding: 2px 5px;
	display: block;
	border: 1px solid #ccc;
	border-radius: 3px;
	margin-bottom: 8px;
	
}
div#btnArea{
	text-align: center;
}
button{
	width: 170px;
	font-size: 20px;
	padding: 5px 15px;
	border: 1px solid #ccc;
	border-radius:4px ;
	margin: 0 2px;
}

/*adminPage 시작*/

div#mainMenus{
	width : 250px;
	border: 1px solid #000;
}
